{% extends "base.html" %}

{% block app_content %}
    <h1>Hello, World!</h1>
    <p>This application was developed as part of Assignment 2 for CA675 Cloud Technologies.</p><hr>
    <p>Our application takes real-time tweets from Twitter's Streaming API, processes these using Apache
        Spark, and sends the results via TCP socket to a Flask application. The data is then dynamically
        rendered using a JavaScript charting framework.</p>
    <p>To get started, click on the <a href="{{ url_for('search') }}">Search</a> button in the navigation bar.</p>
    <p>Group A consists of</p>
    <ul>
        <li>Matthew McKenna</li>
        <li>Arun Munirathinam</li>
        <li>Sai Sree Malepati Ravikumar</li>
        <li>Apoorva Bairathi</li>
        <li>Heda Zhou</li>
    </ul>
{% endblock %}
