{% extends "base.html" %}

{% block app_content %}
<head>
    <meta charset="utf-8" />
    <title>CA675 Assignment 2 - Group A</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> -->
  </head>
  <h1>Tweet Sentiment Counts</h1>
  <i>Back to <a href="{{ url_for('index') }}">Home</a></i>
    <canvas id="mmk_chart" width="600" height="400"></canvas>
<script>
    // define the chart data
    var chartData = {
    labels : [{% for item in labels %}
                "{{item}}",
                {% endfor %}],
    datasets : [{
        label: 'counts',
        backgroundColor: [
            'rgba(54, 162, 235, 0.4)',
            'rgba(255, 99, 132, 0.4)',
        ],
        borderColor: [
            'rgba(54, 162, 235, 1)',
            'rgba(255, 99, 132, 1)',
        ],
        borderCapStyle: 'butt',
        borderDash: [],
        borderDashOffset: 0.0,
        borderJoinStyle: 'miter',
        data : [{% for item in values %}
                    {{item}},
                {% endfor %}],
    }]
    }
    var ctx = document.getElementById("mmk_chart").getContext("2d");
    var mmk_chart = new Chart(ctx, {
        type: 'bar',
        data: chartData,
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
        });

   var chart_labels = [];
   var chart_data = [];
    setInterval(function(){
    $.getJSON('/update_sentiment_data', {
    }, function(jsonified_data) {
        chart_labels = jsonified_data.labels;
        chart_data = jsonified_data.values;
    });
    mmk_chart.data.labels = chart_labels;
    mmk_chart.data.datasets[0].data = chart_data;
    mmk_chart.update();
    } ,1000);
</script>
{% endblock %}
